@import '~@angular/material/theming';

.mat-grid-tile-footer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img.list-item-thumbnail {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}

h3.grid-footer-title {
  font-size: 1.1em;
  font-weight: 800;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

span.grid-footer-title {
  font-size: 0.8em;
}

.grid-footer-tile-fab {
  color: #fafafa;
  background-color: rgba(0,0,0,.28);
}

.grid-footer-tile-fab:hover {
  background-color: #222;
}

.mat-mini-fab.mat-accent {
  background-color: rgba(0,0,0,.28);
  color: #fafafa;
}

.mat-mini-fab.mat-accent:hover {
  background-color: #222;
  color: #fafafa;
}

.no-images-placeholder {
  color: mat-color($mat-grey, 400);
  font-style: italic;
  font-size: 2em;
}
