@import '~@angular/material/theming';

.details-card {
  max-width: 300px;
  min-width: 30%;
}

.details-section {
  margin-bottom: 16px;
  margin-top: 16px;
}

.details-section > * {
  width: 100% !important;
}

.details-image {
  max-width: 600px;
}

.details-row {
  width: 30%;
  min-width: 100px;
}

.card-box {
  margin-top: 20px
}

.details-label {
  color: mat-color($mat-grey, 600);
  font-style: italic;
}

.details-value {
  font-size: 1.1em;
  font-weight: bold;
}
