<div class="list-container">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3 class="mat-title">
        Change password
      </h3>
    </div>

    <form #changePasswordForm="ngForm" class="form-flex" (ngSubmit)="changePassword()">
      <mat-form-field>
        <input matInput placeholder="Current password" required name="oldPassword"
               [(ngModel)]="ChangePasswordInfo.oldPassword" type="password">
        <mat-error *ngIf="changePasswordForm.hasError('required', 'oldPassword')">
          Current password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New password" required name="password" [(ngModel)]="ChangePasswordInfo.password"
               type="password">
        <mat-error *ngIf="changePasswordForm.hasError('required', 'password')">
          New password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="New password confirm" required name="passwordConfirm"
               [(ngModel)]="ChangePasswordInfo.passwordConfirm"
               type="password">
        <mat-error *ngIf="changePasswordForm.hasError('required', 'passwordConfirm')">
          New password confirmation is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <span class="mat-error" *ngIf="!passwordsAreEqual()">
        Passwords are not equal!
      </span>

      <mat-action-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="stretch center">
          <button mat-raised-button type="button" (click)="goBack()">
            <mat-icon>close</mat-icon>
            Cancel
          </button>
          <span fxFlex></span>
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="!changePasswordForm.valid || !passwordsAreEqual()"
          >OK
          </button>
        </div>
      </mat-action-row>


      <!--<div style="width: 100%;">-->
      <!--<div style="margin: 0 auto; width: 88px;">-->

      <!--</div>-->
      <!--</div>-->
    </form>
  </mat-card>
</div>
