<div class="list-container">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h3 class="mat-title">
        Import new image
      </h3>
    </div>

    <form #f="ngForm" class="form-flex" (ngSubmit)="submit()">
      <div class="upload-button" fxFlex align="center">
        <label>
          <input type="file" #uploader multiple name="file" (change)="inputChanged($event)" accept=".json">
          <a class="mat-raised-button dark-button">
            <span class="mat-button-wrapper">
              <mat-icon>attachment</mat-icon>
              CHOOSE FILES
            </span>
          </a>
        </label>
      </div>
      <div>
        <app-files-list *ngIf="Files && Files.length > 0" [(data)]="Files"></app-files-list>
      </div>
      <mat-action-row>
        <button mat-raised-button routerLink="/images" type="button">
          <mat-icon>close</mat-icon>
          Cancel
        </button>
        <div fxFlex></div>
        <div fxLayout="row" fxLayoutGap="15px">
          <button mat-raised-button color="primary" type="submit"
                  [disabled]="!f.valid || !Files || Files.length == 0">
            <mat-icon>send</mat-icon>
            Send
          </button>
        </div>
      </mat-action-row>
    </form>
  </mat-card>
</div>
