@import '~@angular/material/theming';
@include mat-core();

$threesixty-app-primary: mat-palette($mat-deep-orange);
$threesixty-app-accent:  mat-palette($mat-blue-grey);

//$candy-app-primary: mat-palette($mat-blue, 900, 400, 900);
//$candy-app-accent:  mat-palette($mat-yellow, 500, 300, 700);

// The warn palette is optional (defaults to red).
$threesixty-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$threesixty-app-theme: mat-light-theme($threesixty-app-primary, $threesixty-app-accent, $threesixty-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($threesixty-app-theme);
