@import "app-theme";

body {
  margin: 0;
}

html {
  min-width: 400px;
}

@font-face {
  font-family: KabelFamily;
  src: url('assets/fonts/Kabel Book BT.ttf');
}

.spacer {
  flex: auto;
}

mat-progress-spinner.small svg {
  width: 50px !important;
  height: 50px !important;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-toolbar {
  background: mat-color($mat-grey, 800);
  min-height: 60px;
  padding: 0 16px;
  font-size: 20px;
}
div.site-title {
  font-family: KabelFamily;
  font-weight: 100;
  font-size: 2em;
  margin-left: 10px;
  color: #fafafa;
}

.list-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-flex > * {
  width: 100% !important;
}

.mat-divider {
  width: 100%;
  display: block;
  border-top: 1px solid mat-color($mat-grey, 400);
}

.custom-list-item-heading {
  font-size: 1.1em;
  color: mat-color($mat-grey, 700);
  margin-bottom: 5px;
}

.custom-list-item-subheading {
  font-size: 0.7em;
  color: mat-color($mat-grey, 600);
}

.custom-list-item-row {
  margin-top: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #ddd
}

p.mat-line {
  color: mat-color($mat-grey, 500);
}

.mat-list-item-content{
  border-bottom: 1px solid #ddd
}
