@import "app-theme";

body {
  margin: 0;
}

html {
  min-width: 400px;
}

@font-face {
  font-family: KabelFamily;
  src: url('assets/fonts/Kabel Book BT.ttf');
}

.spacer {
  flex: auto;
}

mat-progress-spinner.small svg {
  width: 50px !important;
  height: 50px !important;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-toolbar {
  background: mat-color($mat-grey, 800);
  min-height: 60px;
  padding: 0 16px;
  font-size: 20px;
}
div.site-title {
  font-family: KabelFamily;
  font-weight: 100;
  font-size: 2em;
  margin-left: 10px;
  /*color: #488aff;*/
  color: #fafafa;
  //color: mat-color($threesixty-app-primary, 500);
}

.list-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-flex > * {
  width: 100% !important;
}

.mat-divider {
  width: 100%;
  display: block;
  border-top: 1px solid mat-color($mat-grey, 400);
}
